div.options_group.yith-pawcp-tab-container,
div.yith-pawcp-input-radio-group-container fieldset, div.yith-pawcp-single-addon-body, div.yith-pawcp-group-option-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

div.yith-pawcp-single-addon-header, div.yith-pawcp-single-addon-footer, div.yith-pawcp-group-option-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

div.yith-pawcp-single-addon-header-action {
  width: 100%;
}

div.yith-pawcp-single-addon-header-action:hover {
  cursor: pointer;
}

div.yith-pawcp-input {
  margin: 5px;
}

div.yith-pawcp-input label,
div.yith-pawcp-input legend {
  margin: 5px;
  width: auto;
}

div.yith-pawcp-hidden-by-field, div.yith-pawcp-hidden-by-price,
div .yith-pawcp-hidden, div.yith-pawcp-template-group-option, div.yith-pawcp-hidden-template-tab {
  display: none;
}

div.yith-pawcp-enable-addon-check .yith-pawcp-input-check-onoff-icon::before {
  margin: 5px;
  padding: 5px;
  font-size: 1.5em;
}

div.yith-pawcp-single-addon-header {
  border: 1px solid #0071a1;
  border-radius: 5px;
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

div.yith-pawcp-enable-addon-check {
  margin-left: auto;
}

div button.yith-pawcp-button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #0071a1;
  color: white;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

div button.yith-pawcp-button.yith-pawcp-add-option {
  margin-left: 4em;
}

div button.yith-pawcp-button:hover {
  background-color: #66A9C6;
  cursor: pointer;
}

div i.yith-pawcp-input-check-onoff-icon {
  color: #0071a1;
  font-size: 2em;
}

div i.yith-pawcp-input-check-onoff-icon:hover {
  color: #66A9C6;
}

div span.yith-pawcp-single-addon-header-name {
  font-size: 1.5em;
}

div input.yith-pawcp-input-check-onoff-field {
  display: none;
  visibility: hidden;
}
/*# sourceMappingURL=yith-pawcp-tab.css.map */