/* Spinner */

@mixin load-dual-ring-after($dimensions, $border, $color) {
	content: " ";
	display: block;
	height: $dimensions;
	width:  $dimensions;
	border-radius: 50%;
	border: $border solid $color;
	border-color: $color transparent $color transparent;
	animation: yith-pmhpp-load-dual-ring 1.2s linear infinite;
	
}

.yith-pmhpp-load-dual-ring{
	display: inline-block;
	&:after {
		@include load-dual-ring-after(10px, 4px, #0073aa)
	}
}
.yith-pmhpp-load-dual-ring-large {
	display: inline-block;
	&:after {
		@include load-dual-ring-after(100px, 10px, #0073aa)
	}
}

@keyframes yith-pmhpp-load-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.yith-plugin-ui table.form-table.yith-pmhpp-table{
	margin: 5px;
	border: none;
	& label,
	& legend {
		padding: 30px 20px;
	}
}