/* Spinner */
.yith-pmhpp-load-dual-ring {
  display: inline-block;
}

.yith-pmhpp-load-dual-ring:after {
  content: " ";
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 4px solid #0073aa;
  border-color: #0073aa transparent #0073aa transparent;
  -webkit-animation: yith-pmhpp-load-dual-ring 1.2s linear infinite;
          animation: yith-pmhpp-load-dual-ring 1.2s linear infinite;
}

.yith-pmhpp-load-dual-ring-large {
  display: inline-block;
}

.yith-pmhpp-load-dual-ring-large:after {
  content: " ";
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid #0073aa;
  border-color: #0073aa transparent #0073aa transparent;
  -webkit-animation: yith-pmhpp-load-dual-ring 1.2s linear infinite;
          animation: yith-pmhpp-load-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes yith-pmhpp-load-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes yith-pmhpp-load-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.yith-plugin-ui table.form-table.yith-pmhpp-table {
  margin: 5px;
  border: none;
}

.yith-plugin-ui table.form-table.yith-pmhpp-table label,
.yith-plugin-ui table.form-table.yith-pmhpp-table legend {
  padding: 30px 20px;
}
/*# sourceMappingURL=yith-pmhpp-tabs.css.map */