/*Shortcode css*/

/*Shortcode container*/
.yith-tpp-testimonials-container {
	padding: 25px;
	max-width: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

/*Individual testimonial*/
.yith-tpp-testimonials-single {
	background-color: white;
	position: relative;
	border-radius: 25px;
	padding: 25px;
	margin: 25px;
}

/*Badge*/
.yith-tpp-testimonials-badge {
	border: 4px solid transparent;
	position: absolute;
	right: 25px;
	border-radius: 15px;
	color: white;
	background-color: lightseagreen;
}

/*Header*/
.yith-tpp-testimonials-header {
	margin: 25px;
	display: flex;
}

.yith-tpp-testimonials-header > img {
	border-radius: 50%;
	margin-right: 15px;
}

.yith-tpp-testimonials-workplace {
	color: gray;
	font-size: 80%;
}

.yith-tpp-testimonials-email {
	margin: 2px, 2px, 0px, 0px;
	font-size: 70%;
}

/*Body*/
.yith-tpp-testimonials-body {
	font-size: 90%;
}

/*Footer*/
.yith-tpp-testimonials-footer {
	color: gray;
	font-size: 50%;
	margin: 2px, 0px, 0px, 0px;
}

/*Hover effects*/
.yith-tpp-testimonials-zoom {
	transition: transform .2s;
}

.yith-tpp-testimonials-zoom:hover {
	transform: scale(1.5);
}

.yith-tpp-testimonials-highlight {
	border: 4px solid transparent;
}

.yith-tpp-testimonials-highlight:hover {
	border: 4px solid lightblue;
}

/*VIP*/
.yith-tpp-testimonials-vip {
	border: 4px solid gold;
}
