div.options_group.yith-ppnp-tab-container, div.yith-pnpp-input-radio-group-container fieldset{
	display: flex;
	flex-flow: column;
}

div.yith-pnpp-input{
	margin: 5px;
}

div.yith-pnpp-input label, div.yith-pnpp-input legend{
	margin: 5px;
	width: auto;
}
