div.options_group.yith-etwcp-tab-container,
div.yith-etwcp-input-radio-group-container fieldset, div.yith-etwcp-single-addon-body, div.yith-etwcp-group-option-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
	  -ms-flex-flow: column;
		  flex-flow: column;
}

div.yith-etwcp-single-addon-header, div.yith-etwcp-single-addon-footer, div.yith-etwcp-group-option-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
	  -ms-flex-flow: row;
		  flex-flow: row;
}

div.yith-etwcp-single-addon-header-action {
  width: 100%;
}

div.yith-etwcp-single-addon-header-action:hover {
  cursor: pointer;
}

div.yith-etwcp-input {
  margin: 5px;
}

div.yith-etwcp-input label,
div.yith-etwcp-input legend {
  margin: 5px;
  width: auto;
}

div.yith-etwcp-hidden-by-field, div.yith-etwcp-hidden-by-price,
div .yith-etwcp-hidden, div.yith-etwcp-template-group-option, div.yith-etwcp-hidden-template-tab {
  display: none;
}

div.yith-etwcp-enable-addon-check .yith-etwcp-input-check-onoff-icon::before {
  margin: 5px;
  padding: 5px;
  font-size: 1.5em;
}

div.yith-etwcp-single-addon-header {
  border: 1px solid #0071a1;
  border-radius: 5px;
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

div.yith-etwcp-enable-addon-check {
  margin-left: auto;
}

div button.yith-etwcp-button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #0071a1;
  color: white;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

div button.yith-etwcp-button.yith-etwcp-add-option {
  margin-left: 4em;
}

div button.yith-etwcp-button:hover {
  background-color: #66A9C6;
  cursor: pointer;
}

div i.yith-etwcp-input-check-onoff-icon {
  color: #0071a1;
  font-size: 2em;
}

div i.yith-etwcp-input-check-onoff-icon:hover {
  color: #66A9C6;
}

div span.yith-etwcp-single-addon-header-name {
  font-size: 1.5em;
}

div input.yith-etwcp-input-check-onoff-field {
  display: none;
  visibility: hidden;
}
/*# sourceMappingURL=yith-etwcp-tab.css.map */
