div{
	&.options_group.yith-etwcp-tab-container,
	&.yith-etwcp-input-radio-group-container fieldset,
	&.yith-etwcp-single-addon-body,
	&.yith-etwcp-group-option-list{
		display: flex;
		flex-flow: column;
	}

	&.yith-etwcp-single-addon-header,
	&.yith-etwcp-single-addon-footer,
	&.yith-etwcp-group-option-single{
		display: flex;
		flex-flow: row;
	}

	&.yith-etwcp-single-addon-header-action{
		width: 100%;
		&:hover{
			cursor: pointer;
		}
	}

	&.yith-etwcp-input{
		margin: 5px;

		label,
		legend{
			margin: 5px;
			width: auto;
		}
	}

	&.yith-etwcp-hidden-by-field,
	&.yith-etwcp-hidden-by-price,
	.yith-etwcp-hidden,
	&.yith-etwcp-template-group-option,
	&.yith-etwcp-hidden-template-tab{
		display: none;
	}

	&.yith-etwcp-enable-addon-check .yith-etwcp-input-check-onoff-icon::before {
		margin: 5px;
		padding: 5px;
		font-size: 1.5em;
	}

	&.yith-etwcp-single-addon-header{
		border: 1px solid rgba(0, 113, 161, 50%);
		border-radius: 5px;
		margin: 5px;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	&.yith-etwcp-enable-addon-check{
		margin-left: auto;
	}

	button.yith-etwcp-button{
		margin: 5px;
		padding: 5px;
		border-radius: 5px;
		background-color: #0071a1;
		color: white;
		max-width: fit-content;
		&.yith-etwcp-add-option {
			margin-left: 4em;
		}
		&:hover{
			background-color: #66A9C6;
			cursor: pointer;
		}
	}

	i.yith-etwcp-input-check-onoff-icon{
		color: #0071a1;
		font-size: 2em;
		&:hover{
			color: #66A9C6;
		}
	}

	span.yith-etwcp-single-addon-header-name{
		font-size: 1.5em;
	}

	input.yith-etwcp-input-check-onoff-field {
		display: none;
		visibility: hidden;
	}
}
