/*Inputs*/
div.yith-etwcp-input {
	width: 100%;
	input[type=radio],
	input[type=checkbox] {
		width: 1em;
	}
	input[type=text],
	textarea {
		width: 100%;
	}
	select {
		width: 100%;
		padding: 5px;
	}
}

div.yith-etwcp-input-radio-container {
	display: flex;
	flex-direction: row;
	margin: 5px;
}

div.yith-etwcp-addon-input-check {
	margin: 5px;
}

input.yith-etwcp-input-check-onoff-field {
	display: none;
	visibility: hidden;
}

.yith-etwcp-input-check-onoff-icon {
	font-size: 1.5em;
}

/*Price totals*/
div.yith-etwcp-price-totals-container{
	background-color: lightgray;
	border-radius: 5px;
	margin: 15px;
	padding: 15px;
}

span.yith-etwcp-price-totals-price {
	float: right;
}

/*Spinner*/

svg.yith-etwcp-spinner {
	animation: rotate 2s linear infinite;
	z-index: 2;
	width: 50px;
	height: 50px;
	
	.yith-etwcp-path {
	  stroke:lightgray;
	  stroke-linecap: round;
	  animation: dash 1.5s ease-in-out infinite;
	}
	
  }
  
  @keyframes rotate {
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes dash {
	0% {
	  stroke-dasharray: 1, 150;
	  stroke-dashoffset: 0;
	}
	50% {
	  stroke-dasharray: 90, 150;
	  stroke-dashoffset: -35;
	}
	100% {
	  stroke-dasharray: 90, 150;
	  stroke-dashoffset: -124;
	}
}
  