/*Inputs*/
div.yith-etwcp-input {
  width: 100%;
}

div.yith-etwcp-input input[type=radio],
div.yith-etwcp-input input[type=checkbox] {
  width: 1em;
}

div.yith-etwcp-input input[type=text],
div.yith-etwcp-input textarea {
  width: 100%;
}

div.yith-etwcp-input select {
  width: 100%;
  padding: 5px;
}

div.yith-etwcp-input-radio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
	  -ms-flex-direction: row;
		  flex-direction: row;
  margin: 5px;
}

div.yith-etwcp-addon-input-check {
  margin: 5px;
}

input.yith-etwcp-input-check-onoff-field {
  display: none;
  visibility: hidden;
}

.yith-etwcp-input-check-onoff-icon {
  font-size: 1.5em;
}

/*Price totals*/
div.yith-etwcp-price-totals-container {
  background-color: lightgray;
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
}

span.yith-etwcp-price-totals-price {
  float: right;
}

/*Spinner*/
svg.yith-etwcp-spinner {
  -webkit-animation: rotate 2s linear infinite;
		  animation: rotate 2s linear infinite;
  z-index: 2;
  width: 50px;
  height: 50px;
}

svg.yith-etwcp-spinner .yith-etwcp-path {
  stroke: lightgray;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
		  animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
  100% {
	-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
	-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
	stroke-dasharray: 1, 150;
	stroke-dashoffset: 0;
  }
  50% {
	stroke-dasharray: 90, 150;
	stroke-dashoffset: -35;
  }
  100% {
	stroke-dasharray: 90, 150;
	stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0% {
	stroke-dasharray: 1, 150;
	stroke-dashoffset: 0;
  }
  50% {
	stroke-dasharray: 90, 150;
	stroke-dashoffset: -35;
  }
  100% {
	stroke-dasharray: 90, 150;
	stroke-dashoffset: -124;
  }
}
/*# sourceMappingURL=yith-etwcp-product.css.map */
